<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/regist}" th:object="${person}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>
        </tr>
        <tr>
            <td>Login:</td>
            <td><input type="text" th:field="*{login}" /></td>
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>


        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<form action="#" th:action="@{/login}" method="get">
    <button type="submit" ><p th:text="${result}"/></button>
</form>
</body>
</html>